@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100&family=Heebo:wght@300&family=Open+Sans&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Sintony&family=Sora&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

*:focus {
    outline: 0 !important;
}
/* Style for all HTML files */

/* Style for index.html file only */
.d-block.w-100 {
    filter: brightness(50%);
}

li.active-page {
    --d: 100%;
}


/* main desc animation */
@keyframes navAnimation {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
        margin-top: -50px;
    }
    100% {
        opacity: 1;
        margin-left: 0px;
     }
  }

.main-nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 85px;
    text-align: center;
    z-index: 2;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    animation: navAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.dynamic.main-nav {
    animation: navAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.main-nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.main-nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.main-nav div.logo a:hover {
    color: #00E676;
}

.main-nav div.main_list {
    height: 65px;
    float: right;
}

.main-nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav div.main_list ul li {
    width: auto;
    height: 85px;
    padding: 0;
    padding-right: 3rem;
}

.main-nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 85px;
    font-size: 1.4rem;
    background: 
    linear-gradient(currentColor 0 0) 
    0 100% /var(--d, 0) 2px 
    no-repeat;
    transition:0.25s;
    padding-bottom: 3px;
}


.main-nav div.main_list ul li a:hover {
  --d: 100%;
}


.navbar-brand {
    position: relative;
    background: url(images/version_1.png);
    width: 62px;
    height: 73px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Home section */

/* main desc animation */
@keyframes fadeAnimationOne {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
        margin-left: -200px;
    }
    100% {
        opacity: 1;
        margin-left: 0px;
     }
  }

  @keyframes fadeAnimationTwo {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        margin-left: -200px;
    }
    100% {
        opacity: 1;
        margin-left: 0px;
     }
  }

  @keyframes fadeAnimationThree {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
        margin-left: -100px;
    }
    100% {
        opacity: 1;
        margin-left: 0px;
     }
  }

.main-desc {
    position: absolute;
    text-align: center;
    z-index: 1;
    color: white;
    top: 45%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-55%);
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
    font-size: 3.3vw;
    font-weight: 600;
}

.main-desc .main-desc-1 {
    animation: fadeAnimationOne ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.main-desc .main-desc-2 {
    animation: fadeAnimationTwo ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-top: 50px;
}


@keyframes arrowAnimation {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-3vw);
      }
      60% {
        transform: translateY(-1.5vw);
      }
  }

.arrow-container {
    animation: fadeAnimationThree 3s forwards, arrowAnimation 3s infinite;
    display: block;
    width: 6vw;
    height: 5vw;
    position: absolute;
    top: 150%;
    left: 47%;
    transform: translate(-50%, 53%) rotateZ(0deg);
  }
  .arrow-container:hover {
    cursor: pointer;
  }
  .arrow-container:hover .arrow {
    top: 50%;
  }
  .arrow-container:hover .arrow:before {
    transform: translate(-50%, -50%) rotateZ(-30deg);
  }
  .arrow-container:hover .arrow:after {
    transform: translate(-50%, -50%) rotateZ(30deg);
  }
  .arrow {
    position: absolute;
    left: 50%;
    transition: all 0.4s ease;
    width: 4vw;
    height: 4vw;
  }
  .arrow:before, .arrow:after {
    transition: all 0.4s ease;
    content: '';
    display: block;
    position: absolute;
    transform-origin: bottom right;
    background: #fff;
    width: 0.2vw;
    height: 4vw;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
  .arrow:after {
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
  .arrow:nth-child(1) {
    top: 35%;
  }
  .arrow:nth-child(2) {
    top: 75%;
  }


.title-button {
    background-color: rgba(13,12,181,0.7);
    color: rgba(255,255,255,1);
    border: none;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
    font-size: 1.5vw;
    padding: 10px;
    border-radius: 10px;
}

.navTrigger {
    display: none;
}

.main-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .affix.main-nav {
        padding: 0;
        /* background-color: red; */
    }
    .navbar-brand {
        position: absolute;
        background: url(images/version_1.png);
        width: 36px;
        height: 42px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .main-nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .main-nav div.show_list {
        height: auto;
        display: none;
    }
    .main-nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgb(143,255,111);
        background: linear-gradient(90deg, rgba(143,255,111,1) 0%, rgba(121,9,9,1) 0%, rgba(255,255,255,1) 0%, rgba(0,74,255,1) 100%);
        /*same background color of navbar*/
        background-position: center top;
    }
    .main-nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .main-nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .main-nav div.media_button {
        display: block;
    }


}


/* Animation */
.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 4px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background: linear-gradient(to top, rgba(13,12,181,0.7) 0%, rgba(13,12,181,0.7) 70%, #fff 30%, #fff 100%);
    backdrop-filter: blur(8px);
}

.affix .navbar-brand {
    position: relative;
    background: url(images/version_1.png);
    width: 62px;
    height: 73px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5px;
}

.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

@keyframes indicatorsAnimation {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
        margin-top: -50px;
    }
    100% {
        opacity: 1;
        margin-left: 0px;
     }
  }

.carousel-inner {
    cursor: context-menu;
    /* max-height: 1000px; */
}

/* carousal indicators style */
ol.carousel-indicators {
    z-index: 1;
    position: absolute;
    bottom: 10vw;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
    animation: indicatorsAnimation ease 4.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
 }

 ol.carousel-indicators li,
 ol.carousel-indicators li.active {
    border: 1px solid white;
    border: 3px solid white;
}

ol.carousel-indicators li.active {
  background-color: #fff;
  border: 3px solid white;
}


/* sponsors section */
.sponsors {
    width: 100%;
    height: 500px;
    background-color: #fff;
    border-top: 2px solid #ddd;
}

  /* bottom section */
.bottom-section {
    background-color: rgb(184, 16, 16);
      /* height: 50px; */
    padding: 20px;
    border-top: 1px solid rgb(75, 0, 0);
  }


.bottom-section {
    color: white;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
}



/* middle section */
.container-fluid.middle-section-background {
    background-color: #ebebeb;
    height: 100%;
    padding-bottom: 30px;
}
.result-section {
        position: relative;
        box-sizing: border-box;
        background-color: #fff;
        height: 100%;
        margin-top: -7vw;
        padding-top: 1.7%;
        text-align: center;
}
      
.result-images {
    width: 100%;
    height: 300px;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.muzi {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url("images/img04.jpg"); /* fallback for older browsers */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2)  0%,rgba(0,0,0,0.6) 100%), url("images/img04.jpg");
    transition: all 0.5s;
}

.zaci {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-image: url("images/img01.jpg");
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2)  0%,rgba(0,0,0,0.6) 100%), url("images/img01.jpg");
    transition: all 0.5s;
}

.pripravka {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-image: url("images/img02.jpg");
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2)  0%,rgba(0,0,0,0.6) 100%), url("images/img02.jpg");
    transition: all 0.5s;
}

.dorost {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url("images/img03.jpg");
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2)  0%,rgba(0,0,0,0.6) 100%), url("images/img03.jpg");
    transition: all 0.5s;
}
/* hover image */
.muzi:hover {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2)  0%,rgba(0,0,0,0.6) 100%), url("images/img04.jpg");
    transform: scale(1.2);
}

.dorost:hover {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2)  0%,rgba(0,0,0,0.6) 100%), url("images/img03.jpg");
    transform: scale(1.2);
}

.zaci:hover {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2)  0%,rgba(0,0,0,0.6) 100%), url("images/img01.jpg");
    transform: scale(1.2);
}

.pripravka:hover {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2)  0%,rgba(0,0,0,0.6) 100%), url("images/img02.jpg");
    transform: scale(1.2);
}

.result-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 20%;
    color: #ebebeb;
    font-size: 2rem;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    width: 100%;
    pointer-events: none;
}

.result-text-result {
    color: #fff;
    font-size: 2.8rem;
}

.result-title {
    left: 0%;
    top: 0%;
    z-index: 1;
    position: absolute;
    background-color: rgba(13,12,181,0.7);
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
    padding: 5px 10px 5px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    pointer-events: none;
}

.result-button {
    position: absolute;
    right: 0%;
    bottom:0%;
    font-size: 2rem;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    border: none;
    background-color: #9b0000;
    color: #fff;
}
.result-button:hover {
    color: rgb(0, 0, 75);
    background-color: #fff;
}

.result-date {
    position: absolute;
    left: 3%;
    bottom: 1%;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
    pointer-events: none;
}

.results-bottom-button {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 75);
    color: rgb(13,12,181);
    padding: 10px 40px 10px 40px;
    font-size: 1.5rem;
    margin-top: 23px;
    margin-bottom: 30px;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
}

.results-bottom-button:hover {
    color: #fff;
    background-color: rgb(13,12,181);
    border: 2px solid rgb(13,12,181);
}

  /* For medium devices (e.g. tablets) */
@media screen and (min-width: 420px) {
    .result-images {
        max-width: 48%;
        margin-bottom: 2px;
    }
}

/* For large devices (e.g. desktops) */
@media screen and (min-width: 760px) {
    .result-images {
        max-width: 24%;
    }
}

@media screen and (max-width: 420px) {
    .result-images {
        margin-bottom: 2px;
    }

    .result-section {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
    }
}

/* next matches section */

.next-matches-title {
    background-color: #ebebeb;
}

.next-matches-title h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 75);
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

.next-matches-title h2:before,
.next-matches-title h2:after {
    content: '';
    border-top: 10px solid rgb(13,12,181);
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.next-matches-title h2:after {
    margin: 0 0 0 20px;
}

.next-matches-section {
    background-color: #ebebeb;
    /* height: 500px; */
    padding-bottom: 50px;
    padding-top: 20px;
}

.next-match-wrap {
    border-right: 10px solid rgb(13,12,181);
    border-left: 10px solid rgb(13,12,181);
    border-bottom: 10px solid rgb(13,12,181);
    margin-top: -23px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.next-match-card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 30px 80px 50px 80px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #fff;
}



.teams {
    width: 100%;
    height: 100%;
}

.next-match-col {
    flex: 1;
    padding-top: 30px;
    padding-bottom: 20px;
}

.next-match-col h1 {
    /* padding: 20px; */
    color: rgb(0, 0, 75);
    font-size: 2.3rem;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
}

.next-match-col h2 {
    color: rgb(0, 0, 75);
    font-size: 1.5rem;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
}

.next-match-col h3 {
    color: rgb(0, 0, 75);
    font-size: 2.3rem;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
}

@media (max-width: 768px) { /*breakpoint*/
    .next-match-card {
        flex-direction: column;
    }
  }

.next-match-middle {
    color: blue;
    font-size: 25px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
    font-weight: 800;
    padding: 0 10vw 0 10vw;
}

.next-match-card-title {
    left: 0%;
    top: 0%;
    z-index: 1;
    position: absolute;
    background-color: rgb(13,12,181);
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
    padding: 5px 10px 5px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    pointer-events: none;
}


.match-results-divider-line {
    /* width: 100%; */
    height: 2px;
    background-color: #ebebeb;
    margin: 0px 30px 0px 30px;
}

.next-match-all {
    position: absolute;
    right: 25px;
    bottom: 15px;
    color: rgb(0, 0, 75);
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

.arrow-next-match {
    font-size: 2.3rem;
    margin-left: 5px;
}

.next-match-all:hover {
    text-decoration: none;
    color: rgb(13,12,181);
}

/* End of styles used mainly in index.html file */



/* Style for teames pages */
.teams-section-main-image {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7)  0%,rgba(0, 0, 0, 0.7)  100%), url("images/img07.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

@media screen and (max-width: 768px) {
    .teams-section-main-image {
        height: 200px;
    }   
}

.teams-section-main-image h2 {
    position: absolute;
    text-align: center;
    z-index: 1;
    color: white;
    /* top: 15%; */
    left: 80%; 
    width: 100%;
    transform: translateX(-80%) translateY(-15%);
    margin-top: 140px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
    font-size: 5rem;
    font-weight: 800;
}

@media screen and (max-width: 768px) {
    .teams-section-main-image h2 {
        font-size: 4rem;
        margin-top: 110px;
    }   
}


/* Style for mens section */

.mens-players {
    background-color: #fff;
    height: 100%;
    margin-top: -130px;
    margin-bottom: 40px;
    margin-left: -20px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .mens-players {
        margin-top: 0px;
    }
}

.player-type {
    background-color: #fff;
    text-align: center;
    margin: 30px 0 20px 0px;
}

.player-type h2 {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 75);
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

/* .player-type h2:before,
.player-type h2:after {
    content: '';
    border-top: 4px solid rgb(13,12,181);
    margin: 0 20px 0 0px;
    flex: 1 0 20px;
}

.player-type h2:after {
    margin: 0 0px 0 20px;
} */

.table-wrapper {
    padding: 60px 40px 40px 40px;
    width: 100%;
    height: 100%;
    text-align: center;
    /* background-color: red; */
}

.table {
    font-size: 1.5rem;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
    color:  rgb(0, 0, 75);
    border: 0;
}


@media screen and (max-width: 768px) {
    .table {
        font-size: 1.3rem;
    }
}

.table thead {
    color: #fff;
    background-color: rgb(13,12,181);
    border: 0;
}

.table {border: 0;} 
.table tr, .table td, .table th {border: 0!important;}
.table tr:nth-child(1), 
.table tr:nth-child(1) {border-bottom: 1px solid rgb(0, 0, 75)!important;}
.table tr:nth-child(2) {border-bottom: 1px solid rgb(0, 0, 75)!important;}
.table tr:nth-child(3) {border-bottom: 1px solid rgb(0, 0, 75)!important;}
.table tr:nth-child(4) {border-bottom: 1px solid rgb(0, 0, 75)!important;}
.table tr:nth-child(5) {border-bottom: 1px solid rgb(0, 0, 75)!important;}
.table tr:nth-child(6) {border-bottom: 1px solid rgb(0, 0, 75)!important;}
.table tr:nth-child(7) {border-bottom: 1px solid rgb(0, 0, 75)!important;}
.table tr:nth-child(8) {border-bottom: 1px solid rgb(0, 0, 75)!important;}
.table tr:nth-child(9) {border-bottom: 1px solid rgb(0, 0, 75)!important;}
.table tr:nth-child(10) {border-bottom: 1px solid rgb(0, 0, 75)!important;}
.table tr:nth-child(11) {border-bottom: 1px solid rgb(0, 0, 75)!important;}
.table tr:nth-child(12) {border-bottom: 1px solid rgb(0, 0, 75)!important;}
.table tr:nth-child(13) {border-bottom: 1px solid rgb(0, 0, 75)!important;}
.table tr:nth-child(14) {border-bottom: 1px solid rgb(0, 0, 75)!important;}



.tablink {
    background-color: #fff;
    color: rgb(0, 0, 75);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 1.6rem;
    font-weight: 700;
    width: 33.3333333%;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Sora', sans-serif;
}

@media screen and (max-width: 768px) {
    .tablink {
        font-size: 1.3rem;
    }
}


.tablink:hover {
    color: rgb(13,12,181);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    height: 100%;
}

#Home {background-color: #fff;}
#News {background-color: #fff;}
#Contact {background-color: #fff;}


.home-club {
    background-color: #ebebeb;
    font-weight: 800;
}


@media screen and (max-width: 768px) {
    .table {
        font-size: 1.1rem;
    }
}


@media screen and (max-width: 768px) {
    .table-matches {
        margin: 0 auto;
    }
}
